{% extends 'base.html' %}

{% block head %}
<title> Whatsapp like</title>
<link rel="stylesheet" href="style.css" />
<script src="{{url_for('static', filename='script.js')}}" defer></script>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <aside>
      <div class="navbar">
        <div class="user-logo"><img src="{{url_for('static', filename='Aftomatopoiiste.png')}}" /></div>
        <nav>
          <ul>
            <li class="selectedLink" name="home">Simon the song Recommeder</li>
            <li name="about">BERT chatbot</li>
            <li name="resume">Terminator T101</li>
            <li name="contact">Rasa Bot</li>
          </ul>
        </nav>
      </div>
    </aside>
    <main>
      <div class="card active home" data-home>
        <div class="title">Simon the song Recommeder</div>
        <div class="content">
            <div id = "chatbox">
                <p class = "botText"><span>Hey! It's me Simon (type ppp to hear a song on-line with your mood).</span></p>
                </div>
                <div id = "userInput">
                <input id ="textInput" type ="text" name="msg" placeholder="Message">
                <input id = "buttonInput" type = "submit" value="Send">
                </div>
                <script>
                function getBotResponse(){
                  var rawText = $("#textInput").val();
                  var userHtml = '<p class = "userText"><span>' + rawText + '</span></p>';
                 $("#textInput").val("");
                  $("#chatbox").append(userHtml);
                 document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
                  $.get("/get", {msg:rawText }).done(function(data) {
                  var botHtml = '<p class ="botText"><span>' + data + '</span></p>';
                 $("#chatbox").append(botHtml);
                 document.getElementById('userInput').scrollIntoView({block : 'start',behaviour:'smooth'});
                });
                }
                $("#textInput").keypress(function(e) {
                  if(e.which == 13) {
                    getBotResponse();
                  }
                });
                $("#buttonInput").click(function() {
                  getBotResponse();
                })
                </script>
                </div>
        </div>
      </div>
      <div class="card about" data-about>
        <div class="title">Bert</div>
        <div class="content">Content Goes Here</div>
      </div>
      <div class="card resume" data-resume>
        <div class="title">Terminator T-101</div>
        <div class="content">Content Goes Here</div>
      </div>
      <div class="card contact" data-contact>
        <div class="title">Bot The chatbot</div>
        <div class="content">Content Goes Here</div>
      </div>
    </main>
  </div>
  <script>
    const showMessage = () => {
      alert("Hello JavaScript");
    };
  </script>
{% endblock %}